<%- include('includes/head.ejs') %> 
	<body class="landing is-preload">
		<!-- Page Wrapper -->
		<div id="page-wrapper">
			<!-- Header -->
			<header id="header" class="alt">
				<nav id="nav">
					<!-- <svg
						id="logo"
						width="2em"
						data-v-423bf9ae=""
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 69.12710138879176 60"
						class="icon align-center"
					>
						<g
							data-v-423bf9ae=""
							id="7506629a-86fc-4816-a1d9-09e79d88c1a9"
							transform="matrix(0.801678154812595,0,0,0.801678154812595,8.909851285754794,-10.106756779073052)"
							stroke="none"
							fill="white"
						>
							<path
								d="M25.913 32.797l16.736 29.195h12.234L25.676 12.753l-36.79 63.561 5.939 11.136z"
							></path>
							<path
								d="M31.367 43.632l-5.456-9.375L-4.631 87.45h73.934l5.811-11.826-61.882.063z"
							></path>
							<path
								d="M21.448 62.713l-7.035 12.479h60.701L38.308 12.607H26.672l29.683 50.106z"
							></path>
						</g>
					</svg> -->
						<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menú</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
										</ul>
									</div>
								</li>
							</ul>
				</nav>
			</header>

			<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2 class="slow-hover">Emilio E. G. Cantón Bermúdez</h2>
					<p class="slow-hover">Desarrollador de Software</p>
				</div>
				<a href="#one" class="more scrolly">Conocer más</a>
			</section>

			<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="inner">
					<header class="major">
						<h2>¿Quién soy?</h2>
						<p>
							Mi pasión es aprender y la programación ha sido el
							mejor medio para seguirla. Mi mayor interés es en
							administración de sistemas, <i>backend</i>, redes y ciberseguridad.
						</p>
					</header>
					<ul class="icons major">
						<li>
							<i class="fa fa-server" aria-hidden="true"></i>
							<!-- <span class="icon fa-bars major style1"></span> -->
						</li>
						<li>
							<i class="fa fa-desktop"></i>
						</li>
						<li>
							<i class="fa fa-lock"></i>
						</li>
					</ul>
				</div>
			</section>

			<!-- Two -->
			<section id="two" class="wrapper alt style2">
				<section class="spotlight">
					<div class="image">
						<img src="https://images.unsplash.com/photo-1537432376769-00f5c2f4c8d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80" alt="Foto por Kevin Horvat" title="Foto por Kevin Horvat" />
					</div>
					<div class="content">
						<h2>
							Sistemas
						</h2>
						<p>
							Experiencia de más de dos años con sistemas operativos Unix/Linux en instalación, mantenimiento y automatizaciones. 
						</p>
					</div>
				</section>
				<section class="spotlight">
					<div class="image">
						<img
							src="https://images.unsplash.com/photo-1453733190371-0a9bedd82893?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
							alt="Foto por Roman Mager"
							title="Foto por Roman Mager"
						/>
					</div>
					<div class="content">
						<h2>
							<a href="https://github.com/Cabemo/Sorting-Algorithms/blob/master/PDFs/Reporte.pdf">Análisis de algoritmos</a>
						</h2>
						<p>
							Participación en programación competitiva por más de dos años con posición 66 como mejor resultado en ICPC.
						</p>
					</div>
				</section>
				<section class="spotlight">
					<div class="image">
						<img
							src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
							alt="Foto por Chris Ried"
							title="Foto por Chris Ried"
						/>
					</div>
					<div class="content">
						<h2>
							<i>Web Scraping</i>
						</h2>
						<p>
							Desarrollo de sistemas para obtener información de
							páginas web utilizando <code>python3</code>,
							<code>selenium</code>, <code>BeautifulSoup</code> y
							<code
								><a
									target="_blank"
									href="https://www.pdftables.com"
									>pdftables</a
								></code
							>
							entre otras <i>APIs</i> y librerías.
						</p>
					</div>
				</section>
				<section class="spotlight">
					<div class="image">
						<img
							src="images/node.svg"
							title="Foto por nodejs"
							style="padding: 2em;"
						/>
					</div>
					<div class="content">
						<h2>Desarrollo <i>BackEnd</i> con <code>Node</code></h2>
						<p>
							Creación de sistemas <b>REST</b> para aplicaciones
							móviles, páginas web y <i>APIs</i> utilizando
							<code>Express</code>,
							<code
								><a target="_blank" href="https://graphql.com"
									>GraphQL</a
								></code
							>, <code>MySQL</code>/<code>Mongo</code>.
						</p>
					</div>
				</section>
			</section>

			<section class="intro">
				<div class="container">
					<h2>Mi experiencia &darr;</h2>
				</div>
			</section>

			<section class="timeline">
				<ul>
					<li>
						<div>
							<time>Enero 2018 - Mayo 2018</time>
							<h4>Groove</h4>
							proyecto musical en <code>Processing</code>
							con aplicación de sistema de partículas.
						</div>
					</li>
					<li>
						<div>
							<time>Junio 2018 - Presente</time> Creación de
							sistema con <code><i>Web Scraping</i></code>
							para Web Inn Ventas S.A. de C.V.
						</div>
					</li>
					<li>
						<div>
							<time>Enero 2019 - Junio 2019</time> Sistema básico
							de reconocimiento facial con <code>C++</code> y
							<code>OpenCV 4</code>.
						</div>
					</li>
					<li>
						<div>
							<time>Enero 2019</time>
							<a
								target="_blank"
								href="https://github.com/Cabemo/Language-Generator"
								>Generador de lenguaje</a
							>
							matemático a partir de definición en archivo de
							texto.
						</div>
					</li>
					<li>
						<div>
							<time>Agosto 2019 - Noviembre 2019</time> Desarrollo
							de aplicación con <code>Android Studio</code>,
							<code>Python 3</code>, <code>Node</code> y
							<code><i>Web Scraping</i></code> para buscar
							<b>RFCs</b> en la lista negra del <b>SAT</b>.
						</div>
					</li>
				</ul>
			</section>

			<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major"></header>
					<h2>Proyectos Personales</h2>
					<ul class="features">
						<li class="fa fa-server">
							<h3>BlackJack Server <code>C</code></h3>
							<p>
								Ejercicio de implementación para servidor con
								<code>sockets</code> y <code>pthread</code>
							</p>
						</li>
						<li class="fa fa-terminal">
							<h3><a href="https://github.com/Cabemo/YSH">Yet Another Shell</a> <code>C</code></h3>
							<p>
								Mi implementación de una terminal (<i>shell</i>).
							</p>
						</li>
						<li class="fa fa-road">
							<h3>
								<a
									target="_blank"
									href="https://gitlab.com/estructura-de-datos/path-finding"
								>Gasolineras en México</a><code>Python 3</code>
							</h3>
							<p>
								Proyecto con algoritmo de <b>Dijkstra</b> para
								encontrar la mejor ruta entre gasolineras de
								México.
							</p>
							
						</li>
						<li class="fa fa-braille">
							<h3>
								<a
									target="_blank"
									href="https://github.com/Cabemo/Game-Of-Life"
									>Simulador</a
								>
								básico del
								<a
									href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"
									><i>Juego de la Vida</i> de Conway</a
								>
								<code>C</code><code>Javascript</code>
							</h3>
							<p>
								Simulador con formatos <code>pgm</code> en
								<code>C</code> y <a href="gol.html">visualizador</a> con
								<code>p5</code>.
							</p>
						</li>
					</ul>
				</div>
			</section>

			<!-- CTA -->
			<section id="cta" class="wrapper style4">
				<div class="container">
					<!-- Grid row -->
					<div class="row">
						<!-- Grid column -->
						<div
							class="col-12 gallery-button"
						>
							<button
								type="button"
								class="btn btn-outline-black waves-effect filter"
								data-rel="0"
							>
								Habilidades
							</button>
							<button
								type="button"
								class="btn btn-outline-black waves-effect filter"
								data-rel="1"
							>
								Hobbies
							</button>
							<button
								type="button"
								class="btn btn-outline-black waves-effect filter"
								data-rel="all"
							>
								Todos
							</button>
						</div>
						<!-- Grid column -->
					</div>
					<!-- Grid row -->
				</div>
				<!-- Grid row -->
				<div class="gallery" id="gallery">
					<!-- Grid column -->
					<div class="mb-3 pics animation 0 1 all">
						<img
							width="100%""
							height="auto"
							class="img-fluid"
						src="https://images.unsplash.com/photo-1520523839897-bd0b52f945a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
							alt="Foto por Geert Pieters"
							title="Foto por Geert Pieters"
						/>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="mb-3 pics animation all 1">
						<img
							width="100%"
							class="img-fluid"
							src="https://images.unsplash.com/photo-1508287459906-37445322fdf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
							title="Foto por Jonathan Ouimet"
							alt="Foto por Jonathan Ouimet"
						/>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="mb-3 pics animation all 0 all">
						<img
							width="100%"
							class="img-fluid"
							src="https://images.unsplash.com/photo-1552283576-3ea3519bf12e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80"
							alt="Foto por Harrison Broadbent"
							title="Foto por Harrison Broadbent"
						/>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="mb-3 pics animation all 0 1 all">
						<img
							width="100%"
							class="img-fluid"
							title="Foto por Ashim D’Silva"
							src="https://images.unsplash.com/photo-1508873535684-277a3cbcc4e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
							alt="Foto por Ashim D’Silva"
						/>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="mb-3 pics animation all 1">
						<img
							width="100%"
							class="img-fluid"
							src="https://images.unsplash.com/photo-1550865811-cc8872a15d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
							alt="Foto por Matthew Fournier "
							titile="Foto por Matthew Fournier "
						/>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="mb-3 pics animation all 1">
						<img
							width="100%"
							class="img-fluid"
							src="https://images.unsplash.com/photo-1508448968-9065faf3ccdf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
							alt="Foto por Matthew Bennet"
							title="Foto por Matthew Bennet"
						/>
					</div>

					<!-- Grid column -->
					<div class="mb-3 pics animation all 1">
						<img
							width="100%"
							class="img-fluid"
							src="https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
							alt="Foto por Patrick Tomasso "
							title="Foto por Patrick Tomasso "
						/>
					</div>

					<!-- Grid column -->
					<div class="mb-3 pics animation all 1">
						<img
							width="100%"
							class="img-fluid"
							src="https://images.unsplash.com/photo-1482855549413-2a6c9b1955a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
							alt="Foto por Rohit Choudhari"
							title="Foto por Rohit Choudhari"
						/>
					</div>
				</div>
				<!-- Grid row -->
			</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li>
						<a
							href="https://github.com/Cabemo"
							class="icon brands fa-github"
							><span class="label">Github</span></a
						>
					</li>
					<li>
						<a
							href="https://gitlab.com/Cabemo"
							class="icon brands fa-gitlab"
							><span class="label">Gitlab</span></a
						>
					</li>
					<li>
						<a
							href="https://www.facebook.com/Canton933"
							class="icon brands fa-facebook-f"
							><span class="label">Facebook</span></a
						>
					</li>
					<li>
						<a
							href="https://www.instagram.com/cabemo/"
							class="icon brands fa-instagram"
							><span class="label">Instagram</span></a
						>
					</li>
					<li>
						<a
							href="mailto:eecanton@gmail.com?subject=Contacto"
							class="icon solid fa-envelope"
							><span class="label">Email</span></a
						>
					</li>
				</ul>
				<ul class="copyright">
					<li>
						&copy; Emilio E. G. Cantón Bermúdez
					</li>
				</ul>
			</footer>
		</div>

		<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.scrollex.min.js"></script>
		<script src="/assets/js/jquery.scrolly.min.js"></script>
		<script src="/assets/js/browser.min.js"></script>
		<script src="/assets/js/breakpoints.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>
		<script src="/assets/js/timeline.js"></script>
		<script src="/assets/js/gallery.js"></script>
	</body>
</html>